node_modules
.env
coverage
dist
.idea
.vscode
npm-debug.log
.tmp
.DS_Store
yarn-error.log
temp
public
.log
docs
.nyc_output
cassettes
keys
embeds
ffmpeg.exe
ffplay.exe
ffprobe.exe
deletedCode
codeExample
src
.env.test
.env.prin
.env.copy
codeExample
OLD
wait_*