version: "3"

services:
  stroycord:
    container_name: stroycord
    image: stroycord:latest
    build:
      context: .
      dockerfile: StroyCord.Dockerfile
    environment:
      DISCORD_TOKEN: ${DISCORD_TOKEN}
      DISCORD_CLIENT_ID: ${DISCORD_CLIENT_ID}
      PREFIX: ${PREFIX}
      LANGUAGE: ${LANGUAGE}
      LOG_DIR: ${LOG_DIR:-./logs}
      TIMEZONE: ${TIMEZONE:-Europe/Paris}
      DATABASE_CONNECTION_STRING: ${DATABASE_CONNECTION_STRING}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_NAME: ${DATABASE_NAME}
    restart: on-failure
    volumes:
      - ${LOG_DIR:-./logs}:/app/logs
    networks:
      - default
    depends_on:
      - mongodb
  mongodb:
    container_name: mongodb
    image: mongo:latest
    restart: on-failure
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME:-root}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD:-root}
    ports:
      - ${MONGO_PORT:-27017}:27017
    volumes:
      - ${MONGO_DATA_DIR:-./mongo/data/db}:/data/db
    networks:
      - default
  mongo-express:
    image: mongo-express
    container_name: mongo-express
    environment:
      ME_CONFIG_MONGODB_SERVER: ${MONGO_HOST:-mongodb}
      ME_CONFIG_MONGODB_ENABLE_ADMIN: ${MONGOEXPRESS_ENABLE_ADMIN:-true}
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_INITDB_ROOT_USERNAME:-root}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_INITDB_ROOT_USERNAME:-root}
      ME_CONFIG_BASICAUTH_USERNAME: ${MONGOEXPRESS_BASIC_AUTH_USERNAME:-admin}
      ME_CONFIG_BASICAUTH_PASSWORD: ${MONGOEXPRESS_BASIC_AUTH_PASSWORD:-admin123}
    depends_on:
      - mongodb
    networks:
      - default
    ports:
      - 8081:8081
    healthcheck:
      test: wget --quiet --tries=3 --spider http://${MONGOEXPRESS_BASIC_AUTH_USERNAME:-admin}:${MONGOEXPRESS_BASIC_AUTH_PASSWORD:-admin123}@mongo-express:8081 || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped

networks:
  default:
    name: stroycord-network
